/* Reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Common */
.wrapper{
    width: 80%;
    margin: auto;
}

header{
    min-height: 200px;
    background-color: #e579e6;
    margin-top: 20px;
}