/* Reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Common */
.wrapper{
    width: 80%;
    margin: auto;
}

header{
    min-height: 200px;
    background-color: #e579e6;
    margin: 20px 0;
}

section{
    min-height: 600px;
    background-color: #e1d67a;
}